---
import Layout from "../../layouts/Layout.astro";

const posts = [
  { title: "First Blog Post", slug: "first-post", date: "2024-01-01" },
  { title: "Second Blog Post", slug: "second-post", date: "2024-02-01" }
];
---

<Layout title="Мои статьи">
  <section class="mx-auto w-full max-w-[1024px] px-4 py-16">
    <a
      href="/"
      class="flex items-center gap-2 text-bg-dark underline underline-offset-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5"></path>
      </svg>

      На главную</a
    >

    <h1 class="mb-10 mt-6 text-4xl">Мои статьи</h1>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-1 md:gap-8">
      <a
        href="/blog/love-devotion"
        class="flex max-w-[350px] flex-col bg-bg-light-green sm:max-w-[500px] sm:flex-row sm:items-center"
      >
        <div class="w-full">
          <img class="w-full" src="/img/blog-image.webp" alt="Blog Image" />
        </div>

        <div class="p-6">
          <h3 class="mb-4 text-xl">Любовь и привязанность</h3>
          <p class="text-sm">
            Любовь это сложносоставное чувство: в нем может присутствовать
            несколько эмоций, например, радость и благодарность, любопытство
            и...
          </p>
        </div>
      </a>
    </div>
  </section>
</Layout>
