---
import Layout from "../layouts/Layout.astro";
import CertificatesBlock from "../components/CertificatesBlock.astro";
---

<Layout title="Сертификаты">
  <main>
    <CertificatesBlock />
  </main>
</Layout>
