---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Quote from "../components/Quote.astro";
import Offers from "../components/Offers.astro";
import ContactMe from "../components/ContactMe.astro";
import Education from "../components/Education.astro";
import Conditions from "../components/Conditions.astro";
---

<Layout title="Психотерапевт Дина Четверикова">
  <main>
    <Hero />
    <About />
    <Education />
    <Offers />
    <Conditions />
    <Quote />
    <ContactMe />
  </main>
</Layout>
