<section class="bg-bg-light-beige">
  <div class="px-4 py-16">
    <h2 class="mb-10 text-4xl">Обо мне</h2>

    <div class="grid">
      <div class="flex flex-col gap-7">
        <div class="flex flex-col">
          <div class="relative left-12 min-h-[290px] max-w-[210px] bg-bg-light-green">
            <img
              class="absolute max-w-[210px] left-6 -top-4"
              src="/img/author-image.webp"
              alt="Дина Четверикова"
            />
          </div>
        </div>

        <p>Добро пожаловать! Меня зовут Дина.</p>
        <p>
          Так вышло, что моя профессиональная деятельность так или иначе всегда
          была связана с помощью другим людям. Около семи лет я проработала
          врачом кардиологом в одном из московских стационаров, последние пять
          лет я веду свою частную практику как психотерапевт.
        </p>
        <p>
          В своей практике я опираюсь на психодинамический подход (метод
          символдрамы), сочетая его с emdr, что позволяет мне использовать
          преимущества этих методов в зависимости от потребностей пациентов.
        </p>
        <p>Я очень люблю то, чем занимаюсь и буду рада Вам помочь!</p>
      </div>
    </div>
  </div>
</section>
