<section id="about" class="bg-bg-light-beige">
  <div class="mx-auto w-full max-w-[1024px] px-4 py-16">
    <h2 class="mb-20 text-4xl">Обо мне</h2>

    <div class="grid sm:grid-cols-2">
      <div class="flex flex-col gap-7">
        <div class="flex flex-col">
          <div
            class="relative left-10 mb-7 min-h-[290px] max-w-[210px] bg-bg-light-green md:left-0 md:min-h-[430px] md:max-w-[300px] lg:top-3 lg:min-h-[550px] lg:max-w-[400px]"
          >
            <img
              class="absolute -top-5 left-6 max-w-[210px] sm:left-4 md:-top-2 md:max-w-[300px] lg:left-16 lg:min-w-[400px]"
              src="/img/author-image.webp"
              alt="Дина Четверикова"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-7 md:text-[18px]">
        <p>Добро пожаловать! Меня зовут Дина Четверикова.</p>
        <p>
          Так вышло, что моя профессиональная деятельность всегда была связана с
          помощью людям. По первому образованию я врач-кардиолог и семь лет
          проработала в одном из московских стационаров.
        </p>
        <p>
          В какой-то момент медицинские рамки стали для меня слишком тесными и я
          поменяла сферу деятельности на психотерапию, о чем ни разу не
          пожалела.
        </p>
        <p>С 2018 года я веду свою психотерапевтическую практику.</p>
      </div>
    </div>
  </div>
</section>
