<section class="bg-bg-light-beige">
  <div class="px-4 py-16 max-w-[1200px] w-full mx-auto">
    <h2 class="mb-10 text-4xl">Обо мне</h2>

    <div class="grid sm:grid-cols-2">
      <div class="flex flex-col gap-7">
        <div class="flex flex-col">
          <div class="relative left-6 min-h-[290px] max-w-[210px] md:min-h-[430px] md:max-w-[300px] lg:max-w-[400px] lg:min-h-[550px] lg:top-3 md:left-0 bg-bg-light-green mb-7">
            <img
              class="absolute max-w-[210px] md:max-w-[300px] lg:min-w-[400px] left-6 -top-5 sm:left-4 md:-top-2 lg:left-16"
              src="/img/author-image.webp"
              alt="Дина Четверикова"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col md:text-[18px] gap-7">
        <p>Добро пожаловать! Меня зовут Дина.</p>
        <p>
          Так вышло, что моя профессиональная деятельность так или иначе всегда
          была связана с помощью другим людям. Около семи лет я проработала
          врачом кардиологом в одном из московских стационаров, последние пять
          лет я веду свою частную практику как психотерапевт.
        </p>
        <p>
          В своей практике я опираюсь на психодинамический подход (метод
          символдрамы), сочетая его с emdr, что позволяет мне использовать
          преимущества этих методов в зависимости от потребностей пациентов.
        </p>
        <p>Я очень люблю то, чем занимаюсь и буду рада Вам помочь!</p>
      </div>
    </div>
  </div>
</section>
