<section class="px-4 py-10">
  <div class="mx-auto max-w-[1000px]">
    <h2 class="mb-8 text-4xl">Работа с телом</h2>

    <img class="mb-8" src="/img/body.jpg" alt="Yoga on the beach" />

    <div class="mb-8 flex flex-col gap-4">
      <p>
        Как врач и как психотерапевт я знаю о значимости опоры и поддержки для
        человека, столкнувшегося с собственной уязвимостью и хрупкостью.
      </p>

      <p>
        Я оказываю психологическую поддержку пациентам с тяжелыми соматическими
        заболеваниями (онкология, аутоиммунные заболевания и многие другие).
        Работа направлена на поиск внутренних ресурсов для борьбы с болезнью, на
        принятие своего заболевания и выстраивание удовлетворяющей жизни
      </p>
      <p>
        Также я работаю с психосоматическими заболеваниями и реакциями. Помогаю
        наладить контакт с телом, понять смысл того или иного симптома и
        проработать глубинную причину его возникновения.
      </p>
    </div>
  </div>
</section>
