<section class="px-4 py-10">
  <div class="mx-auto max-w-[1024px]">
    <a
        href="/"
        class="flex items-center gap-2 text-bg-dark underline underline-offset-2"
    >
      <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4"
      >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"></path>
      </svg>

      На главную</a
    >

    <h2 class="mb-8 mt-6 text-4xl">Работа с телом</h2>

    <img class="mb-8" src="/img/body.jpg" alt="Yoga on the beach" />

    <div class="mb-8 flex flex-col gap-4">
      <p>
        Как врач и как психотерапевт я знаю о значимости опоры и поддержки для
        человека, столкнувшегося с собственной уязвимостью и хрупкостью.
      </p>

      <p>
        Я оказываю психологическую поддержку пациентам с тяжелыми соматическими
        заболеваниями (онкология, аутоиммунные заболевания и многие другие).
        Работа направлена на поиск внутренних ресурсов для борьбы с болезнью, на
        принятие своего заболевания и выстраивание удовлетворяющей жизни
      </p>
      <p>
        Также я работаю с психосоматическими заболеваниями и реакциями. Помогаю
        наладить контакт с телом, понять смысл того или иного симптома и
        проработать глубинную причину его возникновения.
      </p>
    </div>
  </div>
</section>
