<section class="px-4 py-10">
  <div class="mx-auto max-w-[1024px]">
    <a
      href="/"
      class="flex items-center gap-2 text-bg-dark underline underline-offset-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5"></path>
      </svg>

      На главную</a
    >

    <h2 class="mb-8 mt-6 text-4xl">Сертификаты</h2>

    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3">
      <img class="mb-8 aspect-square object-contain" src="/docs/diploma.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/body.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/emdr.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/igkb.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/iisk.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/ipp.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/istfp.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/league.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/psychosomatic.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/psycon.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/qualification.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/seminar.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/shadow.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/simvoldrama.webp" alt="Yoga on the beach" />
      <img class="mb-8 aspect-square object-contain" src="/docs/veip.webp" alt="Yoga on the beach" />
    </div>
  </div>
</section>
