<section id="format" class="bg-bg-light-green">
  <div class="mx-auto w-full max-w-[1024px] px-4 py-16">
    <div class="grid sm:grid-cols-2 sm:gap-7">
      <div class="flex flex-col gap-7">
        <div
          class="relative left-20 top-3 md:top-40 lg:top-28 mb-20 min-h-[160px] max-w-[160px] md:max-w-[200px] md:min-h-[200px] lg:max-w-[300px] lg:min-h-[300px] rounded-full bg-[#BFC6B0]"
        >
          <div class="absolute -top-3 left-6 h-[160px] w-[160px] md:w-[200px] md:h-[200px] lg:w-[300px] lg:h-[300px] rounded-full">
            <img
              class="h-full w-full rounded-full object-cover"
              src="/img/conditions.jpg"
              alt="Girl in flowers"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-7 md:text-[18px]">
        <h2 class="text-4xl sm:max-w-[400px]">
          Консультации
        </h2>
        <p>
          Я консультирую по будням с 11.00 до 21.00 <br /> (последняя запись в 20.00)
        </p>
        <p>
          Консультации проводятся очно и онлайн.
        </p>
        <p>Работа ведется со взрослыми от 18 лет</p>
        <p>
          Стоимость консультации 4000 р. <br />
          Длительность 55 минут.
        </p>

        <!--<p>-->
        <!--  Продолжительность работы - этот вопрос мы решаем совместно, это может-->
        <!--  быть разовая консультация, несколько встреч или длительная работа.-->
        <!--</p>-->

        <p>В своей работе я опираюсь на психодинамический подход, сочетая его с EMDR, что позволяет мне использовать преимущества этих методов в зависимости от потребностей моих клиентов.</p>
        <a
            href="blog/methods"
            class="text-black mx-auto w-fit bg-[#c6cdb8] tracking-wider px-6 py-4 uppercase sm:mx-0"
        >Подробнее о методах</a
        >
      </div>
    </div>
  </div>
</section>
