---
import Form from "./Form.astro";
---

<section id="form" class="bg-bg-dark">
  <div class="mx-auto w-full max-w-[1024px] px-4 py-16 text-white">
    <h2 class="mb-10 text-4xl">Назначить встречу</h2>

    <div class="grid md:grid-cols-2 md:gap-8">
      <div class="hidden md:block">
        <h2 class="mb-10 text-left text-2xl">
          Не знаете с чего начать? <br /> Помогу сформулировать запрос
        </h2>
        <p class="mb-4 text-left">
          Если вам сложно сформулировать свой запрос – это нормально. Мы можем
          прояснить его на первой консультации. Или напишите мне, используя
          любой удобный для вас способ <br /> (E-mail, whatsApp, Telegram)
        </p>


        <div class="flex flex-col flex-wrap gap-4 text-white">
          <a class="md-link">+7 (916) 587 82 01</a>
          <a class="md-link">dinachetverikova@gmail.com</a>
          <a class="md-link">WhatsApp</a>
          <a class="md-link">Telegram</a>
        </div>
      </div>

      <Form />
    </div>
  </div>

  <section class="bg-bg-light-beige md:hidden">
    <div class="mx-auto w-full max-w-[1200px] px-4 py-16">
      <h2 class="mb-10 text-center text-2xl">
        Не знаете с чего начать? <br /> Помогу сформулировать запрос
      </h2>
      <p class="mb-4 text-center">
        Если вам сложно сформулировать свой запрос – это нормально. Мы можем
        прояснить его на первой консультации. Или напишите мне, используя любой
        удобный для вас способ (E-mail, whatsApp, Telegram)
      </p>

      <div class="flex flex-wrap justify-center gap-4">
        <a>+7 (916) 587 82 01</a>
        <a>dinachetverikova@gmail.com</a>
        <a>WhatsApp</a>
        <a>Telegram</a>
      </div>
    </div>
  </section>
</section>

<style>
  a {
    text-decoration: underline;
    color: #2e3617;
  }

  .md-link {
    width: fit-content;
    text-decoration: underline;
    color: white;
  }
</style>
