<section class="bg-bg-light-green">
  <div class="mx-auto w-full max-w-[1024px] px-4 py-16">
    <h2 class="mb-16 text-4xl sm:text-center">Образование</h2>

    <div class="flex flex-col gap-6">
      <div
        class="grid grid-cols-[auto,1fr] gap-6 sm:mx-auto sm:max-w-[600px] md:gap-10"
      >
        <p class="">2021 - 2022</p>
        <div>
          <p class="font-bold">Ассоциация EMDR</p>
          <p>
            Специализация EMDR (десенсибилизация и переработка с помощью
            движений глаз)
          </p>
        </div>

        <p class="text-right">2020</p>
        <div>
          <p class="font-bold">Психодемия</p>
          <p>Повышение квалификации "Системная сексуальная терапия"</p>
        </div>

        <p class="">2019 - 2020</p>
        <div>
          <p class="font-bold">ВЕИП</p>
          <p>Специализация "Психолог-психоаналитик"</p>
        </div>

        <p class="">2017 - 2020</p>
        <div>
          <p class="font-bold">IGKB</p>
          <p>Специализация "Психотерапевт по методу символдрамы"</p>
        </div>

        <p class="text-right">2017</p>
        <div>
          <p class="font-bold">
            Institut fur Psychosomatik und Psychotherapie Potsdam-Babelsberg
            e.V. IPP
          </p>
          <p>Специализация "Имагинативная психотерапия тела"</p>
        </div>

        <p class="">2004 - 2010</p>
        <div>
          <p class="font-bold">РГМУ им Н.И. Пирогова</p>
          <p>Специализация "Лечебное дело"</p>
          <a class="underline underline-offset-2 font-medium text-bg-dark" href="/docs/diploma.webp" target="_blank">Диплом</a>
        </div>
      </div>
    </div>
  </div>
</section>
