---
let currentYear = new Date().getFullYear();
---

<footer class="bg-bg-light-green">
  <div class="flex justify-center gap-2 py-6">
    <p>&copy; {currentYear}</p>
    <p>Дина Четверикова</p>
  </div>
</footer>
