---
let currentYear = new Date().getFullYear();
---

<footer class="bg-bg-light-green">
    <div class="flex gap-2 justify-center py-6">
        <p>&copy; {currentYear}</p>
        <p>Дина Четверикова</p>
    </div>
</footer>