<form class="flex flex-col gap-4">
  <label>
    Имя
    <input name="name" type="text" required />
  </label>
  <label>
    E-mail
    <input name="name" type="text" required />
  </label>
  <label>
    Тема
    <input name="name" type="text" required />
  </label>
  <label>
    Сообщение
    <textarea class="resize-none" rows="4" name="name" required></textarea>
  </label>
  <button class="" type="submit">Отправить</button>
</form>

<style>
  label {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    padding: 10px;
    color: black;
    background-color: #f8fbef;
  }

  button {
    padding: 16px;
    background-color: #eaefdd;
    color: black;
    text-transform: uppercase;
  }
</style>
