<section class="h-screen flex flex-col justify-center filter bg-hero-image bg-contain">
  <div class="flex flex-col gap-8 p-4 text-white brightness-100">
    <h1 class="uppercase text-xl">Психотерапевт</h1>
    <h2 class="text-4xl">
      Равным образом консультация с широким активом требуют от нас анализа позиций
    </h2>

    <button class="py-4 px-6 uppercase bg-[#c6cdb8] text-black mx-auto">Назначить встречу</button>
  </div>
</section>

<style>

</style>