<section class="bg-hero-image bg-cover bg-center bg-no-repeat backdop-brightness-50 ">
  <div class="mx-auto w-full max-w-[1024px]">
    <header class="p-4 text-white flex justify-between items-center md:text-xl">
      <a href="/" class="font-[neue-ralewe-regular]">Дина Четверикова</a>

      <nav class="flex gap-4">
        <a href="#about">Обо мне</a>
        <a href="#format">Формат</a>
        <a href="/blog">Блог</a>
      </nav>
    </header>
    <div
        class=" flex h-screen flex-col justify-center  filter"
    >
      <div class="">
        <div class="flex w-full flex-col gap-10 p-4 text-white">
          <h1 class="text-xl uppercase">Дина Четверикова</h1>
          <h2 class="text-4xl sm:max-w-[600px] md:max-w-[700px] md:text-5xl">
            Психодинамическая терапия EMDR
          </h2>

          <a
              href="#form"
              class="text-black mx-auto w-fit bg-[#c6cdb8] px-6 py-4 uppercase sm:mx-0"
          >Записаться</a
          >
        </div>
      </div>
    </div>
  </div>

</section>


<style></style>
