<section class="bg-bg-light-beige">
    <div class="px-4 py-16 max-w-[1024px] w-full mx-auto">
        <h2 class="mb-10 text-4xl">С чем я работаю?</h2>

        <div>
            <div class="grid md:grid-cols-3 gap-4">

                <div class="bg-bg-light-green p-6 flex flex-col justify-between">
                    <img class="mb-8 min-h-[196px] object-cover" src="/img/myself.jpg" alt="Woman with hands on her chest">
                    <div class="text-center flex flex-col justify-between">
                        <div>
                            <h3 class="text-2xl mb-4">Отношения с собой</h3>
                            <p class="">Работа с травматическим опытом, тревожно-депрессивными расстройствами, поиск внутренних опор, ценностей и смыслов</p>
                        </div>
                    </div>
                </div>

                <div class="bg-bg-light-green p-6 flex flex-col">
                    <img class="mb-8 min-h-[196px] object-cover" src="/img/relationship.jpg" alt="Young couple"></img>
                    <div class="text-center flex flex-col">

                            <h3 class="text-2xl mb-4">Отношения с другими</h3>
                            <p class="mb">Проработка сложностей в отношениях, поиск баланса между жизнью для себя и для других</p>

                    </div>
                </div>

                <div class="bg-bg-light-green p-6 flex flex-col">
                    <img class="mb-8 min-h-[196px] object-cover" src="/img/body.jpg" alt="Yoga on the beach"></img>
                    <div class="text-center flex flex-col justify-between">
                        <div>
                            <h3 class="text-2xl mb-4">Работа с телом</h3>
                            <p>Работа с психосоматикой, поддержка пациентов с тяжелыми соматическими диагнозами</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
