<section class="bg-bg-light-beige">
  <div class="mx-auto w-full max-w-[1024px] px-4 py-16">
    <h2 class="mb-10 text-4xl">С чем я могу помочь?</h2>

    <div>
      <div class="grid gap-7 sm:grid-cols-2">
        <div class="flex flex-col justify-between bg-bg-light-green p-6">
          <img class="mb-8" src="/img/relationship.jpg" alt="Young couple" />
          <div class="flex min-h-[200px] flex-col justify-between text-center">
            <div>
              <h3 class="mb-4 text-2xl">Отношения</h3>
              <p class="mb-8">
                Разрешить внутренний конфликт, найти хрупкий баланс между жизнью
                для себя и жизнью для других, обрести идентичность, нащупать
                свои уникальные смыслы.
              </p>
            </div>

            <a
              href="/offers/relationship"
              class="mx-auto w-fit bg-bg-dark px-6 py-4 uppercase text-white"
              href="#">Подробнее</a
            >
          </div>
        </div>

        <div class="flex flex-col bg-bg-light-green p-6">
          <img class="mb-8" src="/img/body.jpg" alt="Young couple" />
        </div>
        <div class="flex min-h-[200px] flex-col justify-between text-center">
          <div>
            <h3 class="mb-4 text-2xl">Работа с телом</h3>
            <p class="mb-8">
              Наладить контакт с телом, понять смысл того или иного симптома и
              проработать глубинную причину его возникновения.
            </p>
          </div>

          <a
            href="/offers/body"
            class="mx-auto w-fit bg-bg-dark px-6 py-4 uppercase text-white"
            href="#">Подробнее</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
