<section class="bg-bg-light-beige">
    <div class="px-4 py-16 max-w-[1024px] w-full mx-auto">
        <h2 class="mb-10 text-4xl">С чем я могу помочь?</h2>

        <div>
            <div class="grid sm:grid-cols-2 gap-7">

                <div class="bg-bg-light-green p-6 flex flex-col justify-between">
                    <img class="mb-8" src="/img/relationship.jpg" alt="Young couple">
                    <div class="text-center flex flex-col justify-between min-h-[200px]">
                        <div>
                            <h3 class="text-2xl mb-4">Отношения</h3>
                            <p class="mb-8">Разрешить внутренний конфликт, найти хрупкий баланс между жизнью для себя и жизнью для других, обрести идентичность, нащупать свои уникальные смыслы. </p>
                        </div>

                        <a class="py-4 px-6 uppercase bg-bg-dark text-white w-fit mx-auto" href="#">Подробнее</a>
                    </div>
                </div>

                <div class="bg-bg-light-green p-6 flex flex-col">
                    <img class="mb-8" src="/img/body.jpg" alt="Young couple"></img>
                    <div class="text-center flex flex-col justify-between min-h-[200px]">
                        <div>
                            <h3 class="text-2xl mb-4">Работа с телом</h3>
                            <p class="mb-8">Наладить контакт с телом, понять смысл того или иного симптома и проработать глубинную причину его возникновения.</p>
                        </div>

                        <a class="py-4 px-6 uppercase bg-bg-dark text-white w-fit mx-auto" href="#">Подробнее</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
