<section
  class="bg-quote-image flex min-h-[450px] bg-cover bg-center bg-no-repeat flex-col items-center justify-center"
>
  <div class="px-4 py-16 max-w-[600px] w-full mx-auto text-white">
    <p class="mb-8 text-center text-4xl">
      «Кто однажды нашёл себя, тот не может больше ничего потерять на этом
      свете»
    </p>
    <p class="text-center">– Стефан Цвейг</p>
  </div>
</section>
