<section class="px-4 py-10">
  <div class="mx-auto max-w-[1024px]">
    <a
        href="/"
        class="flex items-center gap-2 text-bg-dark underline underline-offset-2"
    >
      <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4"
      >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"></path>
      </svg>

      На главную</a
    >
    <h2 class="mb-8 mt-6 text-4xl">Отношения</h2>

    <img class="mb-8" src="/img/relationship.jpg" alt="Young couple" />

    <div class="mb-8 flex flex-col gap-4">
      <h3 class="text-xl underline">Отношения с собой и отношение к себе</h3>

      <p>
        Внутри каждого из нас существуют конфликт между противоречивыми
        желаниями, эгоизмом и альтруизмом, между "хочу" и "надо". Порой это
        настолько невыносимо, что выливается в тревожность, хроническое чувство
        стыда и депрессивность.
      </p>

      <p>
        Одновременно с этим мы находимся под постоянным давление среды, общество
        требует от человека быть лучшим, идеальным, соответствовать.
      </p>
      <p>
        Неизбежен вопрос " а где здесь я? что из этого я по-настоящему хотела?
        что дальше делать со своей жизнью?"
      </p>
      <p>
        Психотерапия помогает разрешить внутренний конфликт, найти хрупкий
        баланс между жизнью для себя и жизнью для других, обрести идентичность,
        нащупать свои уникальные смыслы.
      </p>
    </div>

    <div class="mb-8 flex flex-col gap-4">
      <h3 class="text-xl underline">Отношения с другими</h3>

      <p>
        Отношения пронизываю всю нашу жизнь с самого рождения: с родителями, с
        друзьями, партнерами, коллегами, с собственными детьми. Это источник
        любви, тепла, близости, но порой причина страдания, тревоги и боли.
      </p>

      <p>
        Психотерапия помогает достичь баланса между потребностью в близостью и
        потребность в атономии, научиться выстраивать личные границы, не
        отталкивая других людей.
      </p>
    </div>
  </div>
</section>
